<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
  </head>
  <body>
    {% block 'main' %}
    <p>Lorem ipsum....</p>
    {% endblock %}
  </body>
</html>